.sobre{
    text-align: justify;
}

.titulo_sobres{
    text-align: center;
}
.fundo{
    background-color:#DDD;
  
  }

  @media (max-width: 455px){
      .video{
          width: 95%;
          height: 100%;
          
      }
  }
  